<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ALPHA-BLOG: ABOUT</title>
  </head>
  <header>
    <h1>This is the about page of my blog.</h1>
  </header>
  <body>
    <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'Home', root_path %>
  </body>
</html>
