<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ALPHA-BLOG: ABOUT</title>
  </head>
  <header>
    <h1>This is the ABOUT page, take a look</h1>
  </header>
  <body>
    <p>this is kind of just a test to see if it works, Hello World</p>
    <p>If you wanna go to Home, click the link below</p>
    <%= link_to "Alpha Blog", articles_path %> <%= link_to 'Home', root_path %>
  </body>
</html>
