<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ALPHA-BLOG: HOME</title>
  </head>
  <body>    
    <div class="jumbotron center" style="background-color: grey;">
      <h1>ALPHA BLOG</h1>
      <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
    </div>
  </body>
</html>
